<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'global/head.html' %}

    <title>taskr: Dashboard</title>
  </head>
  <body>
    {% include 'global/logged-in-navbar.html' %}

    {% include 'dashboard/jobs-list.html' %}

    {% include 'dashboard/add-task-modal.html' %}

    <!-- Modal Delete Job Confirmation -->
    <div class="modal fade" id="delete-job-modal" tabindex="-1" role="dialog" aria-labelledby="delete-job-modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delete-job-modalLabel">Confirm Job Deletion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="lead">Are you sure you want to delete <strong id="job-name"></strong>?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <form action='{% url 'dashboard:jobs:delete_job' %}' method='post'>
              {% csrf_token %}
              <input type='hidden' id="job-to-delete-id" name='job-to-delete-id' />
              <button type='submit' class='btn btn-success'>Yes, delete.</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Centered Edit Job Modal -->
    <div class="modal fade" id="edit-job-modal" tabindex="-1" role="dialog" aria-labelledby="edit-job-modalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="header px-3 py-2">
            <p class="h4 text-center mb-4">Edit Job <strong id="edit-project-name"></strong>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </p>
          </div>
          <div class="modal-body">
            <form id="edit-job-form" action="{% url 'dashboard:jobs:edit_job' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="edit-job-title">Title *</label>
                    <input type="text" class="form-control" id="edit-job-title" name="job-title" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="edit-job-date">Date</label>
                    <input type="date" class="form-control" id="edit-job-date" name="job-date">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="edit-job-description">Description</label>
                    <textarea class="form-control" id="edit-job-description" name="job-description"></textarea>
                  </div>
                </div>
              </div>
              <input type="hidden" id="edit-job-id" name="job-id" value="">
              <button type="submit" class="btn btn-primary btn-block">Update Job</button>
              <p class="my-4 text-muted text-center">Fields with * are required</p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Centered Add Job Modal -->
    <div class="modal fade" id="job-modal" tabindex="-1" role="dialog" aria-labelledby="job-modalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="header px-3 py-2">
            <p class="h4 text-center mb-4">Add Job<strong id="project-name"></strong>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </p>
          </div>
          <div class="modal-body">
            <form id="add-job-form" action="{% url 'dashboard:jobs:add_job' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="job-title">Title *</label>
                    <input type="text" class="form-control" id="job-title" name="job-title" placeholder="e.g. My Photography Job" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="job-date">Date</label>
                    <input type="date" class="form-control" id="job-date" name="job-date">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="job-description">Description</label>
                    <textarea class="form-control" id="job-description" name="job-description"></textarea>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Add Job</button>
              <p class="my-4 text-muted text-center">Fields with * are required</p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <!-- Local JS -->
    <script type="text/javascript">
      $(document).ready(function(){
        $('.btn.btn-link.ellipsis').popover({
          html:true,
        });


      });

      function searchFocus(element) {
        $(element).removeClass('bg-dark');
        $(element).css('width', '400px !important')

      }
      function searchBlur(element) {
        $(element).addClass('bg-dark');
      }

      function setTaskModalParams(title, job_id) {
        $('#project-name').text(title);
        $('#job-id').val(job_id);
      }

      function setJobModalParams() {
        let date = new Date();
        let mm, dd, yyyy, full_date;

        mm = date.getMonth() + 1;
        dd = date.getDate();
        yyyy = date.getFullYear();

        if (mm < 10) {
          mm = '0' + mm;
        }
        if (dd < 10) {
          dd = '0' + dd;
        }
        full_date = `${yyyy}-${mm}-${dd}`;

        console.log(full_date);
        $('#job-date').val(full_date);
      }

      function validateTaskForm() {
        let task_date = $('#task-date').val();
        let start = $('#task-start').val();
        let end = $('#task-end').val();
        let code = `<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
          <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> Date, Start, and End are required arguments!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>`;

        if (task_date.length > 0 && start.length > 0 && end.length > 0) {
          console.log("Can submit");
          $('#add-task-form').submit();
        } else {
          console.log("Cannot submit");
          $('#add-task-form-error').append(code);
        }
      }

      function setJobToDelete(job_name, job_id) {
        $('#job-to-delete-id').val(job_id);
        $('#job-name').text(job_name);
      }

      function setJobToEdit(job_name, job_id, job_date, job_description) {
        console.log(job_date)
        $('#edit-job-id').val(job_id);
        $('#edit-project-name').text(job_name);
        $('#edit-job-title').val(job_name);
        $('#edit-job-date').val(job_date);
        $('#edit-job-description').val(job_description);
      }

      function validateJobForm() {
        let job_title = $('#job-title').val();

        let code = `<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
          <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> A job title is required!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>`;

        if (job_title.length) {
          console.log("Can submit");
          $('#add-job-form').submit();
        } else {
          console.log("Cannot submit");
          $('#add-job-form-error').append(code);
        }
      }
    </script>
  </body>
</html>
