<!-- Centered Sign In Modal -->
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="sign-in-modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="header px-3 py-2">
        <p class="h4 text-center mb-4">Sign In
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </p>
      </div>
      <div class="modal-body text-center">
        <div class="social-login">
          <button type="button" class="btn btn-outline-secondary btn-block"><i class="fa fa-google" aria-hidden="true"></i> Sign In with Google Account</button>
          <button type="button" class="btn btn-outline-primary btn-block"><i class="fa fa-facebook-square" aria-hidden="true"></i> Sign In with Facebook Account</button>
        </div>

        <hr class="style-eight my-4">
        <form action="{% url 'accounts:login' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" required>
          </div>          
          <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </form>
        <p class="lead my-4 text-muted">Don't have an account? <a href="#" data-toggle="modal" data-target="#sign-up-modal" data-dismiss="modal" class="sign-up-link">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>
